<h3 class="my-profile-form__header">MY PROFILE</h3>

<div class="user-info">
	<div class="the-top-part">
		<div class="avatar-name-email-container">
			<div class="avatar-holder">
				<%= image_tag("https:" + current_user.avatar.url(:normal), class: "js-avatar") %>
				<div class="">
					<%= f.file_field :avatar %>
					<%= f.hidden_field :cropped_avatar %>
					<img id="avatar-preview" src="" height="200" alt="Image preview...">
					<div>
						<div id="demo-basic"></div>
						<button id="demo-basic-button">result</button>
					</div>
				</div>
			</div>

			<div class="name-email-password">
				<div>
					<%= f.text_field :first_name, placeholder: current_user.first_name, disabled: "disabled", class: "js-my-profile-user-info-input-group", value: current_user.first_name %>
					<%= f.text_field :last_name, placeholder: current_user.last_name, disabled: "disabled", class: "js-my-profile-user-info-input-group", value: current_user.last_name %>
					<%= f.text_field :email, placeholder: current_user.email, disabled: "disabled", class: "js-my-profile-user-info-input-group", value: current_user.email %>
					<span class="js-my-profile-inputs-edit-icon"><i class="glyphicon glyphicon-pencil"></i></span>
					<span class="js-my-profile-inputs-edit-submit my-profile-form__input-group-edit-submit"><i class="glyphicon glyphicon-ok"></i></span>
							<div class="js-my-profile--password my-profile-form__password-fields">
				<div class="field">
					<%#= f.label :password, "Password"<br /> %>
					<%= f.password_field :password, placeholder: "password", :autocomplete => "off", class: "js-my-profile-user-password-input-group"  %>
				</div>
				<div class="field">
					<%#= f.label :password_confirmation<br /> %>
					<%= f.password_field :password_confirmation, placeholder: "password confirmation", class: "js-my-profile-user-password-input-group" %>
				</div>
				<span class="js-my-profile-user-password-edit-icon"><i class="glyphicon glyphicon-pencil"></i></span>
				<span class="js-my-profile-user-info-edit-submit my-profile-form__input-group-submit"><i class="glyphicon glyphicon-ok"></i></span>
			</div>
				</div>
			</div>
		</div>
	</div>

	<div class="about-social">
		<div class="about">
			<h4>ABOUT</h4>
			<%= f.text_area :about, :value => current_user.about, disabled: "disabled", class: "js-my-profile-textarea" %>
			<span class="js-my-profile-textarea-edit-icon"><i class="glyphicon glyphicon-pencil"></i></span>
			<span class="js-my-profile-textarea-edit-submit my-profile-form__textarea-edit-submit"><i class="glyphicon glyphicon-ok"></i></span>
		</div>
		<div class="social">
			<h4>SOCIAL MEDIA</h4>
			<input></input>
			<input></input>
			<input></input>
	</div>
</div>