<h3>MY PROFILE</h3>

<h5>ABOUT</h5>
<%=form_for @my_profile_form, remote: :true, url: { action: "update"}, method: :patch, html: {class: "js-my-profile--basic" } do |f| %>
	<%= f.text_area :about, :value => current_user.about, disabled: "disabled", class: "js-my-profile-textarea" %>
		<span class="js-my-profile-textarea-edit-icon"><i class="glyphicon glyphicon-pencil"></i></span>
		<span class="js-my-profile-textarea-edit-submit my-profile-form__textarea-edit-submit"><i class="glyphicon glyphicon-ok"></i></span>
	
	<div class="">
		<%= f.text_field :first_name, placeholder: current_user.first_name, disabled: "disabled", class: "js-my-profile-user-info-input-group", value: current_user.first_name %>
		<%= f.text_field :last_name, placeholder: current_user.last_name, disabled: "disabled", class: "js-my-profile-user-info-input-group", value: current_user.last_name %>
		<%= f.text_field :email, placeholder: current_user.email, disabled: "disabled", class: "js-my-profile-user-info-input-group", value: current_user.email %>
			<span class="js-my-profile-inputs-edit-icon"><i class="glyphicon glyphicon-pencil"></i></span>
			<span class="js-my-profile-inputs-edit-submit my-profile-form__input-group-edit-submit"><i class="glyphicon glyphicon-ok"></i></span>
	</div>

<% end %>

<%= form_for @my_profile_form, remote: :true, url: { :action => "update_password" }, method: :patch, html: {class: "js-my-profile--password my-profile-form__password-fields"} do |f| %>
		<div class="field">
		<%= f.label :password, "Password" %><br />
		<%= f.password_field :password, :autocomplete => "off", class: "js-my-profile-user-password-input-group"  %>
		</div>
		<div class="field">
		<%= f.label :password_confirmation %><br />
		<%= f.password_field :password_confirmation, class: "js-my-profile-user-password-input-group" %>
		</div>

		<span class="js-my-profile-user-password-edit-icon"><i class="glyphicon glyphicon-pencil"></i></span>
		<span class="js-my-profile-user-info-edit-submit my-profile-form__input-group-submit"><i class="glyphicon glyphicon-ok"></i></span>
<% end %>