<div class="my-profile-form-container">

    <div class="user-info">
        <%= render "profiles/my_profile" %>
    </div>

    <button id="js-the-button">THE SUBMIT BUTTON</button>

    <div class="instruments-and-locations-container">
        <%=form_for @my_profile_form, remote: :true, url: { action: "update"}, method: :patch, html: {class: "js-my-profile--basic", :multipart => true } do |f| %>
            <% Instrument.all.each_with_index do |val, index| %>
                <div class="my-profile-form__checkbox-input-group" style="display:none">
                    <%= check_box_tag 'my_profile_form[instruments][]', val, nil, :id => "instruments_#{val}", class: "my-profile-form__checkbox" %>
                    <%= label :instrument_, val, class: "my-profile-form__label" %>
                </div>
            <% end %>
        <% end %>

        <div class="instrument-wrapper">
            <h4 class="instrument-wrapper__subheader">MY INSTRUMENTS</h4>
            <div id="js-instrument-container">
                <% current_user.instruments.each do |instrument| %>
                    <%= content_tag(:div, instrument.name, :class => "js-instrument-list-node") %>
                <% end %>
            </div>

            <%= text_field_tag 'my_profile_form_instruments', '', placeholder: "instrument here", :data => { :autocomplete_source => ARTIST_INSTRUMENTS } %>
        </div>


        <div class="location-wrapper">
            <h4 class="location-wrapper__subheader">MY LOCATIONS</h4>
            <div id="js-location-container">
                <% current_user.locations.each do |location| %>
                    <%= content_tag(:div, "#{location.zipcode} - #{location.city}, #{location.state}", :class => "js-location-list-node") %>
                <% end %>
            </div>

            <%= form_tag "/my_profile/get_single_zipcode", method: 'get', remote: true do %>
                <%= text_field_tag 'my_profile_form_locations', '', placeholder: "zipcode here", :data => { } %>
            <% end %>
        </div>
    </div>

    <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>

    <div class="playlist-container">

    <h4 class="playlist-container__subheader">MY PLAYLIST</h4>

        <div class="soundcloud-wrapper">
            <h4 class="soundcloud-wrapper__subheader">MUSIC</h4>
            <div id="js-soundcloud-container">
                <% current_user.external_links.where(origin_site:"sc").each do |ext_link| %>
                    <%= content_tag(:div, ext_link.link_to_content, :class => "js-soundcloud-list-node") %>
                <% end %>
            </div>

            <%= text_field_tag 'my_profile_form_soundcloud', '', placeholder: "soundcloud link here", :data => { } %>

            <div id="js-embedded-soundcloud-container">
                <% current_user.external_links.where(origin_site: "sc").each do |ext_link| %>
                    <%= ArtistProfileService.soundcloud_frame(ext_link.link_to_content) %>
                <% end %>
            </div>
        </div>

        <div class="youtube-wrapper">
            <h4 class="youtube-wrapper__subheader">VIDEOS</h4>

            <div id="js-youtube-container">
                <% current_user.external_links.where(origin_site:"yt").each do |ext_link| %>
                    <%= content_tag(:div, ext_link.link_to_content, :class => "js-youtube-list-node") %>
                <% end %>
            </div>

            <%= text_field_tag 'my_profile_form_youtube', '', placeholder: "youtube link here", :data => { } %>

            <div id="js-embedded-youtube-container">
                <% current_user.external_links.where(origin_site: "yt").each do |ext_link| %>
                    <%= ArtistProfileService.youtube_frame(ext_link.link_to_content) %>
                <% end %>
            </div>
        </div>
        
    </div>
</div>