<div class="my-profile-form">

    <%=form_for @my_profile_form, remote: :true, url: { action: "update"}, method: :patch, html: {class: "js-my-profile--basic" } do |f| %>
        <%= render "profiles/my_profile", f: f %>
        <%= render "profiles/instruments_and_locations_section", f: f %>
        <%= render "profiles/playlist_section", f: f %>
        <%= f.submit "ARGHEHOSHFD", id: "js-the-button"%>
    <% end %>

</div>