<div class="my-profile-form">
	<%=form_for @my_profile_form, remote: :true, url: { action: "update"}, method: :patch, html: {class: "js-my-profile--basic" } do |f| %>

		<%= render "profiles/my_profile", f: f %>
		<%= render "profiles/payment" %>
	<% end %>

	<h3>OPPORTUNITIES CREATED</h3><br />

<% @my_profile_form.decorated_employing_opportunities.each do |o| %>
	<h5>DETAILS</h5>
	<p><%= o.title %></p>
	<p><%= o.formatted_date %></p>
	<p><%= o.full_address %></p>
	<p><%= o.formatted_time %></p>
	<%= link_to 'EDIT / REMOVE', edit_opportunity_path(o.id) %>
	<br /><br />

	<h5>ARTIST HIRED</h5>
	<p><%= o.submissions_count %> Submissions Pending</p>
	<%= link_to "View Submissions", opportunity_submissions_path(o.id) %>
<% end %>
</br></br>
	<%= link_to "POST NEW OPPORTUNITY", new_opportunity_path %>
</div>