<h3>MY PROFILE</h3>

<h5>ABOUT</h5>
<%=form_for @my_profile_form, remote: :true, url: { action: "update"}, method: :put do |f| %>
<%= f.text_area :about, :value => current_user.about, disabled: 'disabled', class: "js-my-profile-textarea" %>
	<span class="js-my-profile-textarea-edit-icon"><i class="glyphicon glyphicon-pencil"></i></span>
	<span class="js-my-profile-textarea-edit-submit my-profile-form__textarea-edit-submit"><i class="glyphicon glyphicon-ok"></i></span>
<% end %>

<%= @my_profile_form.current_user.first_name %>
<%= @my_profile_form.current_user.last_name %>
<%= @my_profile_form.current_user.email %>



<h3>OPPORTUNITIES CREATED</h3><br />
<h5>DETAILS</h5>
<% @my_profile_form.current_user.employing_opportunities.each do |o| %>
<p>
	<%= o.title %><br />
	<%= o.venue.name %><br />
	<%= o.venue.address %><br />
	<%= o.venue.city %><br />
	<%= o.event_start_date %><br />
</p>
<% end %>



<%= link_to "POST NEW OPPORTUNITY", new_opportunity_path %>