<div class="auth-form--hidden js-signup-secondary pure-g">

	<div class="pure-u-1-1">
		<%= render "facebook_login" %>
	</div>

	<div class="pure-u-1-1 auth-form__input-container">
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true) do |f| %>
		<%= devise_error_messages! %>

		<div class="auth-form__input-container__field">
			<%= f.text_field :first_name, placeholder: 'First', class: 'auth-form__input auth-form__input--halved js-signup-first-name-input' %>
			<%= f.text_field :last_name, placeholder: 'Last', class: 'auth-form__input auth-form__input--halved js-signup-last-name-input' %>
		</div>
		<div class="auth-form__name-errors">
			<div class="js-signup-first-name-error"></div>
			<div class="js-signup-last-name-error"></div>
		</div>
		<div class="auth-form__input-container__field">
			<%= f.email_field :email, placeholder: 'Email', class: 'auth-form__input js-signup-email-input' %>
		</div>
		<div class="js-signup-email-error"></div>
		<div class="auth-form__input-container__field">
			<% if @minimum_password_length %>
			<em>(<%= @minimum_password_length %> characters minimum)</em>
			<% end %>
			<%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'auth-form__input js-signup-password-input' %>
		</div>
		<div class="js-signup-password-error"></div>
		<div class="auth-form__input-container__field">
			<%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Password Confirmation', class: 'auth-form__input js-signup-password-confirmation-input' %>
		</div>
		<div class="js-signup-password-confirmation-error"></div>

		<div class="auth-form__input-container__field">
			<%= f.hidden_field :role, :value => "musician" %>
		</div>

		<div class="auth-form__input-container__field">
			<%= f.submit "SIGN UP", class: 'auth-form__submit-button' %>
		</div>
		<% end %>
	</div>
</div>