<header class="header pure-g">
	<div class="header__logo pure-u-1-3">
		Live Musically
	</div>
	<div class="header__logo pure-u-1-3">
		<% if user_signed_in? %>
			<%= link_to('Post an Opportunity', new_opportunity_path) %>
		<% end %>
	</div>
	<div class="header__sign-up pure-u-1-3">
		<% if user_signed_in? %>
			<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
		<% else %>
			<%= link_to('Sign up / Login', auth_path) %>
		<% end %>
	</div>
		<div class="header__logo pure-u-1-3">
		<% if user_signed_in? %>
			<%= link_to('messages', conversations_path) %>
		<% end %>
	</div>
		<div class="header__logo pure-u-1-3">
		<% if user_signed_in? %>
			<%= link_to('notifications') %>
		<% end %>
	</div>
</header>