<%= render "call_to_action" %>
<%= form_for @opportunities_search_form, url: { action: "index"}, html: {method: :get} do |f| %>
What:
<%= f.text_field :instrument, placeholder: "Piano, Acoustic, Teaching...", :data => { :autocomplete_source => ARTIST_INSTRUMENTS } %>


Where:
<%= f.text_field :location, placeholder: "City, State, or Zipcode", :data => { :autocomplete_source => STATES_ARRAY } %>

When:
<div class="calendar-input-group">
	<div class="input-group input-daterange" >
		<input id="searchOppStartDate" type="text" class="form-control" value=<%= DateTime.now.strftime("%m/%d/%Y") %>>
	</div>
	<div class="timepicker-range-input-group">
		<div class="input-group bootstrap-timepicker timepicker">
				<input id="searchOppStartTime" type="text" class="form-control input-small">
				<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
		</div>
	</div>
	<div class="input-group-addon">to</div>
	<div class="input-group input-daterange" >
		<input id="searchOppEndDate" type="text" class="form-control" value=<%= DateTime.now.strftime("%m/%d/%Y") %>>
	</div>
	<div class="timepicker-range-input-group">
		<div class="input-group bootstrap-timepicker timepicker">
				<input id="searchOppEndTime" type="text" class="form-control input-small" name="event_end_time">
				<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
		</div>
	</div>
</div>

<%= f.hidden_field(:event_start_time) %>
<%= f.hidden_field(:event_end_time) %>
<%= f.hidden_field(:event_start_date) %>
<%= f.hidden_field(:event_end_date) %>

<%= f.submit "Search Opportunities" %>
<% end %>