<section>
	<%= @opportunity.title %><br />
	<%= @opportunity.employer %><br />
	<%= @opportunity.event_date %><br />
	<%= @opportunity.venue_name %><br />
	<%= @opportunity.venue_full_address %><br />
	<%= link_to "APPLY NOW", new_apply_opportunity_path(opp_id: @opportunity.id), remote: :true, class: "js-apply-opp-form__open-modal-button" %>
</section>